body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: aliceblue;
}

.fa-location-arrow{
    color: brown;
    font-size: 2rem;
}

.nav-link{
    color:black !important;
    
}

.f-info a{
    text-decoration: none;
    color: black;
    
}

.f-info a:hover{
    text-decoration: underline;
    
}

.f-info-links {
    width: 100%;
}

.f-info-socials{
     width: 100%;
     font-size: 1.2rem;
     
}

.f-info-socials i{
    margin-right: 1rem;
}

.card{
    border: none !important;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0;
}

.row a{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.7;
    background-color: aliceblue;
}
.f-info{
    height: 8rem;
    display: flex;
    background-color: rgb(207, 207, 207);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;

}

.add-button{
    background-color: brown !important;
    color: aliceblue;
}

.edit-btn{
    background-color: brown !important;
    color: aliceblue;
}

.show-image{
    height: 70vh !important;
}

.edit-del{
    width: 50%;
    height: 5rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.edit-del button{
    width: 7rem;
    padding: 1rem;
    margin-right: 1rem;
    background-color: brown !important;
    color: aliceblue;
}

#del{
    background-color: black !important;
}

.ratings-form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(247, 247, 205, 0.2);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.ratings{
    display: flex;
    background-color: rgba(247, 247, 205, 0.2);
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.del-btn{
    transform: scale(0.75);
    background-color: rgb(165, 42, 42) !important; ;
}
.card-style{
    background-color: rgba(230, 156, 138, 0.2);
    padding: 1rem;
}

.ratings h2{
    width: 100%;
    align-items: center;
    text-align: center;
    
}

.ratings-form textarea{
    width: 100%;
    border-radius: 1rem;
    resize: none;
}

/* Center the card */
.map-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;   /* full screen center */
    background: #f7f7fb;
}

/* Stylish card */
.map-card {
    margin: auto;
    margin-bottom: 50px;
    
    background: #fdfff4;
    border-radius: 25px;
    border: 6px solid rgba(255, 255, 255, 0.7); /* lighter whitish border */
    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Map image */
.map-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Info section */
.map-info {
    padding: 15px;
}

.map-info h3 {
    margin: 0 0 6px;
    font-size: 18px;
}

.map-info p {
    margin: 0;
    color: #555;
    font-size: 14px;
}

#my-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 400;
}