<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
         <h4><b>Error: </b><%= message %></h4>
         <p><b>Error Code: </b><%= statusCode %></p>
    </div>

</div>

