<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/login" method="post" novalidate>
                <h2 class="col-8 offset-3">Login - Book My Stay</h2>
                <div >
                    <label for="username" class="form-label">Username: </label>
                    <input name="username" id="username" placeholder="Enter username" class="form-control" required/>
                    <div class="valid-feedback">username looks good</div>
                </div> 
                <div >
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter password" class="form-control" required/>
                    <div class="valid-feedback">password looks good</div>
                </div> 
                <br>
                <button class="btn btn-success">Login</button>
            </form>
        </div>    
    </div>
</body>